body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  color: #1d3557;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #457b9d;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}
